ARMBIAN_MIRROR="https://github.com/armbian/mirror/releases/download/"

if [[ $(curl -s http://ifconfig.me) == "93.103.15.56" ]]; then
    #APT_PROXY_ADDR="10.0.10.10:3142"
    ARMBIAN_MIRROR="https://imola.armbian.com/dl/"
    NO_APT_CACHER="yes"
fi

FORCE_USE_RAMDISK="yes"
COMPRESS_OUTPUTIMAGE="sha,gpg,xz"
PRIVATE_CCACHE="yes"
FAST_CREATE_IMAGE="yes"
NO_HOST_RELEASE_CHECK="yes"
USE_MAINLINE_GOOGLE_MIRROR="yes"
