name: Build test images with Docker

on:

  workflow_dispatch:
  workflow_call:
    inputs:
      reference:
        required: true
        type: string
      runner:
        required: true
        type: string

jobs:  

  gradle:
    if: ${{ github.repository_owner == 'Armbian' && inputs.reference != '' }}
    strategy:
      fail-fast: false
      matrix:
        board: [uefi-x86,rpi4b]
        target: ["debian:bullseye:10","debian:sid:12","ubuntu:focal:8","ubuntu:jammy:12"]
        desktop: [xfce,gnome,mate,cinnamon]
    
    name: Make
    runs-on: ${{ inputs.runner }}
    steps:

      - name: Read values
        run: |

          DISTRO=$(echo ${{ matrix.target }} | cut -d":" -f1)
          RELEASE=$(echo ${{ matrix.target }} | cut -d":" -f2)          
          COMPILER=$(echo ${{ matrix.target }} | cut -d":" -f3)
          BOARD=${{ matrix.board }}
          
          # export to environment
          echo "RELEASE=$RELEASE" >> $GITHUB_ENV
          echo "BOARD=$BOARD" >> $GITHUB_ENV
          echo "DISTRO=$DISTRO" >> $GITHUB_ENV
          echo "COMPILER=$COMPILER" >> $GITHUB_ENV

      - name: Handle exceptions
        run: |
        
          if [[ ${{ env.RELEASE }} == sid && ${{ env.RELEASE }} == rpi4b ]]; then
          echo "SKIP=true" >> $GITHUB_ENV
          fi

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 100
          repository: armbian/build
          path: build
          ref: ${{ inputs.reference }}
          clean: true

      - name: Checkout support scripts
        uses: actions/checkout@v2
        with:
          fetch-depth: 100
          repository: armbian/scripts
          path: scripts
          clean: true

      - name: Sync
        run: |

          mkdir -p build/userpatches
          sudo cp scripts/configs/lib.config build/userpatches/
          sudo cp scripts/configs/config-default.conf build/userpatches/
          
      - name: Pull Docker image
        run: |

          sudo docker pull ghcr.io/armbian/build:$(cat build/VERSION  | cut -d"." -f1-2)"-${{ env.RELEASE }}-$(dpkg --print-architecture)"

      - name: Build test image
        run: |

          cd build

          # framework init
          ./compile.sh \
          JUST_INIT="yes" \
          OFFLINE_WORK="yes" \
          BRANCH=current \
          RELEASE=focal \
          BUILD_MINIMAL=yes \
          BUILD_DESKTOP=no \
          KERNEL_ONLY=no \
          KERNEL_CONFIGURE=no \
          BOARD="zeropi" \
          NO_HOST_RELEASE_CHECK="yes"
         
          # change template
          sudo sed -i "s/^#DOCKER_FLAGS+=(--privileged)/DOCKER_FLAGS+=(--privileged)/" userpatches/config-docker.conf
          sudo sed -i "s/^ARM_GCC_COMPILER=.*/ARM_GCC_COMPILER=g++-${{ env.COMPILER }}-arm-linux-gnueabihf/" userpatches/config-docker.conf
          sudo sed -i "s/^BASE_IMAGE=.*/BASE_IMAGE=${{ env.DISTRO }}:${{ env.RELEASE }}/" userpatches/config-docker.conf
          sudo sed -i "s/^VERSION=.*/VERSION=\$(cat \$SRC\/VERSION | cut -d\".\" -f1-2)\"-\$(echo \${BASE_IMAGE} \| cut -d\":\" -f2)-\$(dpkg --print-architecture)\"/" userpatches/config-docker.conf          
          sudo sed -i 's/armbian:/ghcr.io\/armbian\/build:/g' userpatches/config-docker.conf 
          sudo sed -i "s/ -it/ -i/" userpatches/config-docker.conf
          sed -i "s/COMPRESS_OUTPUTIMAGE=.*/COMPRESS_OUTPUTIMAGE=\"no\"/" userpatches/lib.config
          
          export TERM=dumb         
          touch .ignore_changes
          ./compile.sh docker \
          JUST_INIT="no" \
          OFFLINE_WORK="no" \
          BETA=yes \
          EXPERT=yes \
          BOARD=${{ matrix.board }} \
          BRANCH=current \
          RELEASE=${{ env.RELEASE }} \
          BUILD_MINIMAL=no \
          BUILD_DESKTOP=yes \
          KERNEL_ONLY=no \
          KERNEL_CONFIGURE=prebuilt \
          COMPRESS_OUTPUTIMAGE=no \
          IGNORE_UPDATES=yes \
          REPOSITORY_INSTALL="u-boot,kernel" \
          DESKTOP_ENVIRONMENT_CONFIG_NAME="config_base" \
          DESKTOP_ENVIRONMENT=${{ matrix.desktop }} \
          SKIP_EXTERNAL_TOOLCHAINS=yes \
          FORCED_MONTH_OFFSET=12 \
          DESKTOP_APPGROUPS_SELECTED="3dsupport browsers"

      - name: Upload artefacts
        if: ${{ env.SKIP == true }}
        uses: actions/upload-artifact@v3
        with:
          name: "${{ matrix.board }}-${{ env.RELEASE }}-${{ matrix.desktop }}"
          path: build/output/images/*
          if-no-files-found: error
          retention-days: 7
