name: Login
on:
  workflow_dispatch:
  workflow_call:
  
jobs:

  Prepare:
    name: "Login"
    runs-on: [self-hosted, Linux, local]
    steps:

      - name: Checkout Armbian Framework
        uses: actions/checkout@v3.3.0

      - name: Install SSH key for storage
        uses: shimataro/ssh-key-action@v2.5.1
        with:
          key: ${{ secrets.KEY_CI }}
          known_hosts: github.com ssh-rsa AAAAB3Nz
          if_key_exists: replace

      - name: Login
        run: |
        
          mkdir -p ~/.ssh/
          cp autotests.pub ~/.ssh/id_rsa.pub
          ls -l ~/.ssh/
          export TERM=vt100
            
            USER_HOST=10.0.10.238
            # login credentials
            USER_ROOT=root
            PASS_ROOT=testpassword
            USER_NORMAL=guest
            PASS_NORMAL=testpassword
            
            ssh-keygen -qf "$HOME/.ssh/known_hosts" -R "${USER_HOST}" > /dev/null 2>&1            
            if [[ "$(sshpass -p 1234 ssh -o "StrictHostKeyChecking=accept-new" ${USER_ROOT}@${USER_HOST} "w " 2>&1 | grep "Permission denied")" == "Permission denied"* ]]; then
              echo "Already done or 3rd party"
              sshpass -p "${PASS_ROOT}" ssh-copy-id -i ~/.ssh/id_rsa.pub -o "StrictHostKeyChecking=accept-new" ${USER_ROOT}@${USER_HOST}
              sshpass -p "${PASS_ROOT}" ssh-copy-id -i ~/.ssh/id_rsa.pub -o "StrictHostKeyChecking=accept-new" ${USER_NORMAL}@${USER_HOST}
            else
              expect -c "
              spawn sshpass -p 1234 ssh -o "StrictHostKeyChecking=accept-new" ${USER_ROOT}@${USER_HOST}
              set timeout 120
              expect \"Create root password: \"
              send \"${PASS_ROOT}\r\"
              expect \"Repeat root password: \"
              send \"${PASS_ROOT}\r\"
              expect \"zsh\"
              send \"2\r\"
              expect \"*to abort\"
              send \"${USER_NORMAL}\r\"
              expect \"Create*password:\"
              send \"${PASS_NORMAL}\r\"
              expect \"Repeat*password:\"
              send \"${PASS_NORMAL}\r\"
              expect \"Please provide your real name: \"
              send \"${NAME_NORMAL}\r\"
              expect \"*language based on your location*\"
              send \"y\r\"
              expect \"*#\"
              send \"exit\r\"
              "
            fi       
