name: Merge branch into nightly

on:
  workflow_dispatch:

  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      branch:
        required: true
        type: string
    secrets:
      GPG_KEY2:
        required: false
      GPG_PASSPHRASE2:
        required: false
jobs:

  Merge:

    name: "Master into ${{ inputs.branch }}"
    runs-on: ${{ inputs.runner }}
    if: ${{ github.repository_owner == 'Armbian' }}

    steps:

      - name: Clean temporally folders
        run: |

          sudo rm -rf build/.tmp 2>/dev/null || true
          sudo mountpoint -q build/cache/rootfs && sudo fusermount -u build/cache/rootfs || true
          sudo mountpoint -q build/cache/toolchain && sudo fusermount -u build/cache/toolchain || true   

      - name: Checkout Armbian build script
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: armbian/build
          path: build
          ref: nightly
          clean: false

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_KEY2 }}
          passphrase: ${{ secrets.GPG_PASSPHRASE2 }}
          workdir: build
          git-user-signingkey: true
          git-commit-gpgsign: true

      - name: Merge master into nightly

        run: |
          cd build
          git config --global user.email "info@armbian.com"
          git config --global user.name "Armbianworker"
          git checkout master
          git fetch
          git merge origin/master
          git checkout nightly
          git merge master nightly
          git push
