name: Smoke tests
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      KEY_CI:
        required: true
      KEY_POWER_ON:
        required: true
      KEY_POWER_OFF:
        required: true
      USER_REPOSITORY:
        required: true
      HOST_REPOSITORY:
        required: true
      KNOWN_HOSTS_REPOSITORY:
        required: true
jobs:
  
  Prepare:
    name: "Power system on"
    runs-on: [self-hosted, Linux, local]
    steps:
    
      - name: Runner prepare
        uses: armbian/actions/runner-prepare@main

      - name: Power on
        uses: armbian/actions/power-on@main
        with:
          KEY_POWER_ON: ${{ secrets.KEY_POWER_ON }}
          USER_REPOSITORY: ${{ secrets.USER_REPOSITORY }}
          HOST_REPOSITORY: ${{ secrets.HOST_REPOSITORY }}
          KNOWN_HOSTS_REPOSITORY: ${{ secrets.KNOWN_HOSTS_REPOSITORY }}
    
      - name: Sleep for 3m to make sure switches were booted up
        uses: jakejarvis/wait-action@master
        with:
          time: '3m'

  Test:
    name: "DUT"
    runs-on: igor
    needs: Prepare
    if: ${{ github.repository_owner == 'Armbian' }}
    timeout-minutes: 15
    strategy:
      #max-parallel: 16
      fail-fast: false
      matrix: 
        include:
          - ip: "10.0.50.158" 
            name: "Orange Pi Zero Plus 2"
            power-socket: ""
          - ip: "10.0.30.137" 
            name: "Lime A64"
            power-socket: ""
          - ip: "10.0.30.161" 
            name: "Nanopi R4S"
            power-socket: ""
          - ip: "10.0.30.135" 
            name: "Jetson Nano"
            power-socket: ""
          - ip: "10.0.30.129" 
            name: "Espressobin"
            power-socket: "203"
          - ip: "10.0.30.163"
            name: "Khadas VIM2"
            power-socket: ""
          - ip: "10.0.30.133" 
            name: "Raspberrypi 3+"
            power-socket: ""
          - ip: "10.0.30.107" 
            name: "Orange Pi Win"
            power-socket: 15
          - ip: "10.0.30.108" 
            name: "Orange Pi Prime"
            power-socket: 9
          - ip: "10.0.30.112" 
            name: "Orange Pi+ 2E"
            power-socket: 13
          - ip: "10.0.30.113" 
            name: "Orange Pi 3"
            power-socket: 16
          - ip: "10.0.30.123" 
            name: "Odroid M1 8G"
            power-socket: ""
          - ip: "10.0.30.198" 
            name: "Odroid XU4"
            power-socket: 66
          - ip: "10.0.30.183" 
            name: "Rockpi 4B"
            power-socket: ""
          - ip: "10.0.30.119" 
            name: "Tinkerboard"
            power-socket: ""
          - ip: "10.0.30.138"
            name: "Orange Pi One+"
            power-socket: ""
          - ip: "10.0.30.120" 
            name: "RockPro 64"
            power-socket: ""
          - ip: "10.0.30.184" 
            name: "Rock64 v3"
            power-socket: ""
          - ip: "10.0.30.121" 
            name: "Odroid C4"
            power-socket: 2
          - ip: "10.0.30.105" 
            name: "Nanopi R2S"
            power-socket: ""
          - ip: "10.0.40.160"
            name: "NanoPi R1"
            power-socket: ""
          - ip: "10.0.30.160"
            name: "Le Potato"
            power-socket: ""
          - ip: "10.0.30.134" 
            name: "Cubox i2eX/i4"            
            power-socket: 17
          - ip: "10.0.30.140" 
            name: "NanoPi Neo 2 Black"
            power-socket: 65
          - ip: "10.0.30.141" 
            name: "ZeroPi"
            power-socket: 1
          - ip: "10.0.30.199" 
            name: "Banana Pi M2U"
            power-socket: ""
          - ip: "10.0.30.171" 
            name: "Orange Pi R1"
            power-socket: ""
          - ip: "10.0.30.111" 
            name: "Orange Pi 4"
            power-socket: "64"
          - ip: "10.0.30.167" 
            name: "Cubietruck"
            power-socket: ""
          - ip: "10.0.30.168" 
            name: "Cubieboard"
            power-socket: ""
          - ip: "10.0.30.169" 
            name: "Clearfog Pro"
            power-socket: 200
          - ip: "10.0.30.189"
            name: "Pine H64"
            power-socket: 21
          - ip: "10.0.30.193" 
            name: "Odroid C2"
            power-socket: 8
          - ip: "10.0.30.139" 
            name: "Odroid N2"
            power-socket: 198
          - ip: "10.0.30.142" 
            name: "Rockpi E"
            power-socket: ""
          - ip: "10.0.30.122" 
            name: "Banana Pi Pro"
            power-socket: ""
          - ip: "10.0.30.115" 
            name: "NanoPi M4"
            power-socket: ""
          - ip: "10.0.30.254" 
            name: "Orange Pi Zero"  
            power-socket: ""
          - ip: "10.0.30.117" 
            name: "Orange Pi Zero Plus"  
            power-socket: ""
          - ip: "10.0.30.146" 
            name: "Udoo Quad"  
            power-socket: 3
          - ip: "10.0.30.131"
            name: "Rockpi X"
            power-socket: ""
          - ip: "10.0.40.100"
            name: "XFCE desktop x86"
            power-socket: ""
    steps:
    
      - name: Runner prepare
        uses: armbian/actions/runner-prepare@main
    
      - name: Install SSH key for storage
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.KEY_CI }}
          known_hosts: github.com ssh-rsa AAAAB3Nz
          if_key_exists: replace

      - name: Is online?
        run: |

          # set this here
          echo "REBOOT=false" >> $GITHUB_ENV

          server="${{ matrix.ip }}"
          if nc -z $server 22 -w 5 2>/dev/null; then
            echo "$server ✓"
            echo "PROCEED=true" >> $GITHUB_ENV
            echo "ONLINE=true" >> $GITHUB_ENV
          else          
            echo "$server ✗ needs to be power cycled"
            echo "ONLINE=false" >> $GITHUB_ENV
            [[ -n "${{ matrix.power-socket }}" ]] && ssh -o StrictHostKeyChecking=no root@10.0.40.6 "./restart ${{ matrix.power-socket }}" || true
          fi
    
      - name: Login
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "run-parts /etc/update-motd.d/" || true

      - name: Neofetch
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          #ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "dpkg --configure -a; apt-get -y -qq install neofetch; apt-get -y autoremove" || true
          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "timeout 5 neofetch" || true

      - name: To nightly
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |
         
          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "sed -i 's/http:\/\/[^ ]*/http:\/\/beta.armbian.com/' /etc/apt/sources.list.d/armbian.list" || true

      - name: Dmesg
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "dmesg --color=always"

      - name: Update
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          if [[ "$(dpkg --print-architecture)" == arm* ]]; then
          echo "Update bootloader"
          root_uuid=$(sed -e 's/^.*root=//' -e 's/ .*$//' < /proc/cmdline) || true
          root_partition=$(blkid | tr -d '":' | grep "${root_uuid}" | awk '{print $1}') || true
          root_partition_device="${root_partition::-2}" || true
          [[ -f /usr/lib/u-boot/platform_install.sh ]] && source /usr/lib/u-boot/platform_install.sh && write_uboot_platform $DIR ${root_partition_device}  || true
          echo "Write u-boot to $root_partition_device with $root_uuid" "$(date  +%R:%S)" || true
          fi

          timeout 5 ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "apt-get -y update; apt-get -y -o Dpkg::Options::=\"--force-confold\" upgrade" || true

      - name: Reboot
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "shutdown -r 1"

      - name: Sleep for 3 min
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        uses: juliangruber/sleep-action@v1
        with:
          time: 3m

      - name: Ping
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          STR=$(LC_ALL=C ping -w5 ${{ matrix.ip }} || true)
          if grep -q "Unreachable" <<< "$STR"; then
              [[ -n "${{ matrix.power-socket }}" ]] && ssh -o StrictHostKeyChecking=no root@10.0.40.6 "./restart ${{ matrix.power-socket }}" || true
          else
              ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "run-parts /etc/update-motd.d/" || true
              echo "REBOOT=true" >> $GITHUB_ENV
          fi

      - name: Assemble
        if: ${{ github.repository_owner == 'Armbian' && always() }}
        run: |

          rm -rf status
          mkdir -p status
          echo "\"${{ matrix.ip }}\",\"${{ matrix.name }}\",\"${{ env.ONLINE }}\",\"${{ env.REBOOT }}\"" >> status/${{ matrix.ip }}.txt

      - name: Upload status
        if: ${{ github.repository_owner == 'Armbian' &&  always() }}
        uses: actions/upload-artifact@v3
        with:
          name: status
          path: status

  Stop:
    name: "Power system off"
    if: always()
    needs: Test
    runs-on: [self-hosted, Linux, local]
    steps:
    
      - name: Runner prepare
        uses: armbian/actions/runner-prepare@main

      - name: Clean
        run: |

          sudo rm -rf status

      - name: Download changes
        uses: actions/download-artifact@v3
        with:
          name: status
          path: status

      - name: Calculate
        run: |

          ls -1 status | wc -l > status/total
          grep false status/* | cut -d":" -f2 | cut -d"," -f1-2 > status/failed
          echo "scale=2 ; (100*($(cat status/total.txt)-$(cat status/failed.txt | wc -l))/$(cat status/total.txt))" | bc > status/success
          rm -f status/*.txt

      - name: Upload status
        if: ${{ github.repository_owner == 'Armbian' }}
        uses: actions/upload-artifact@v3
        with:
          name: status
          path: status

      - name: Power off
        if: always()
        uses: armbian/actions/power-off@main
        with:
        
          KEY_POWER_OFF: ${{ secrets.KEY_POWER_OFF }}
          USER_REPOSITORY: ${{ secrets.USER_REPOSITORY }}
          HOST_REPOSITORY: ${{ secrets.HOST_REPOSITORY }}
          KNOWN_HOSTS_REPOSITORY: ${{ secrets.KNOWN_HOSTS_REPOSITORY }}
