name: Smoke tests
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      KEY_CI:
        required: true

jobs:
  
  Test:
    name: "Smoke test"
    runs-on: igor
    if: ${{ github.repository_owner == 'Armbian' }}
    timeout-minutes: 15
    strategy:
      #max-parallel: 16
      fail-fast: false
      matrix: 
        include:
          - ip: "10.0.50.158" 
            name: "Orange Pi Zero Plus 2"
            power-socket: ""
          - ip: "10.0.30.101" 
            name: "Orange Pi Zero Plus"
          - ip: "10.0.30.135" 
            name: "Jetson Nano"
          - ip: "10.0.50.189" 
            name: "Orange Pi Lite 2"
            power-socket: ""
          - ip: "10.0.30.103" 
            name: "Orange Pi One"
            power-socket: 6
          - ip: "10.0.30.160"
            name: "Khadas VIM1"
            power-socket: ""
          - ip: "10.0.30.163"
            name: "Khadas VIM2"
            power-socket: ""
          - ip: "10.0.30.162"
            name: "Khadas VIM3"
            power-socket: ""
          - ip: "10.0.30.166" 
            name: "Raspberrypi 3+"
            power-socket: ""
          - ip: "10.0.30.107" 
            name: "Orange Pi Win"
            power-socket: 15
          - ip: "10.0.30.108" 
            name: "Orange Pi Prime"
            power-socket: 9
          - ip: "10.0.30.112" 
            name: "Orange Pi+ 2E"
            power-socket: 13
          - ip: "10.0.30.113" 
            name: "Orange Pi 3"
            power-socket: 16
          - ip: "10.0.30.198" 
            name: "Odroid XU4"
            power-socket: 66
          - ip: "10.0.30.117" 
            name: "Rockpi 4B"
            power-socket: ""
          - ip: "10.0.30.119" 
            name: "Tinkerboard"
            power-socket: 14
          - ip: "10.0.30.203"
            name: "Orange Pi One+"
            power-socket: 14
          - ip: "10.0.30.120" 
            name: "RockPro 64"
            power-socket: ""
          - ip: "10.0.40.251" 
            name: "Rock64 v3"
            power-socket: ""
          - ip: "10.0.30.121" 
            name: "Odroid C4"
            power-socket: 2
#          - ip: "10.0.30.126" 
#            name: "Nanopi R2S"
#            power-socket: ""
          - ip: "10.0.40.254"
            name: "NanoPi R1"
            power-socket: ""
          - ip: "10.0.30.204"
            name: "NanoPi Neo 3"
            power-socket: "14"
          - ip: "10.0.30.221"
            name: "NanoPC T4"
            power-socket: ""
          - ip: "10.0.30.130"
            name: "Le Potato"
            power-socket: ""
          - ip: "10.0.30.134" 
            name: "Cubox i2eX/i4"            
            power-socket: 64
          - ip: "10.0.30.140" 
            name: "NanoPi Neo 2 Black"
            power-socket: 65
          - ip: "10.0.30.141" 
            name: "ZeroPi"
            power-socket: 1
          - ip: "10.0.30.144" 
            name: "Banana Pi M2U"
            power-socket: 4
          - ip: "10.0.30.150" 
            name: "Orange Pi R1"
            power-socket: ""
          - ip: "10.0.30.182" 
            name: "Orange Pi 4"
            power-socket: "17"
          - ip: "10.0.30.167" 
            name: "Cubietruck"
            power-socket: 3
          - ip: "10.0.30.206" 
            name: "Cubieboard"
            power-socket: ""
          - ip: "10.0.30.169" 
            name: "Clearfog Pro"
            power-socket: 200
          - ip: "10.0.30.189"
            name: "Pine H64"
            power-socket: 21
          - ip: "10.0.30.193" 
            name: "Odroid C2"
            power-socket: 8
          - ip: "10.0.30.139" 
            name: "Odroid N2"
            power-socket: 198
          - ip: "10.0.30.219" 
            name: "Rockpi E"
            power-socket: ""
          - ip: "10.0.40.253" 
            name: "Rockpi S"
            power-socket: ""
          - ip: "10.0.30.122" 
            name: "Banana Pi Pro"
            power-socket: ""
          - ip: "10.0.30.246" 
            name: "NanoPi M4"
            power-socket: ""
          - ip: "10.0.30.254" 
            name: "Orange Pi Zero"  
            power-socket: 6
          - ip: "10.0.30.170" 
            name: "Udoo Quad"  
            power-socket: 3
          - ip: "10.0.40.250"
            name: "Rockpi X"
            power-socket: ""
          - ip: "10.0.40.202"
            name: "XFCE desktop x86"
            power-socket: ""
    steps:
    
      - name: Install SSH key for storage
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.KEY_CI }}
          known_hosts: github.com ssh-rsa AAAAB3Nz
          if_key_exists: replace

      - name: Is online?
        run: |

          server="${{ matrix.ip }}"
          if nc -z $server 22 2>/dev/null; then
            echo "$server ✓"
            echo "PROCEED=true" >> $GITHUB_ENV
          else
            echo "$server ✗ needs to be power cycled"
            [[ -n "${{ matrix.power-socket }}" ]] && ssh -o StrictHostKeyChecking=no root@10.0.40.6 "./restart ${{ matrix.power-socket }}"
          fi
    
      - name: Login
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "run-parts /etc/update-motd.d/"

      - name: Neofetch
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "apt -y -qq install neofetch"
          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "neofetch"

      - name: Dmesg
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "dmesg --color=always"

      - name: Update
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          if [[ "$(dpkg --print-architecture)" == arm* ]]; then
          echo "Update bootloader"
          root_uuid=$(sed -e 's/^.*root=//' -e 's/ .*$//' < /proc/cmdline)
          root_partition=$(blkid | tr -d '":' | grep "${root_uuid}" | awk '{print $1}')
          root_partition_device="${root_partition::-2}"
          [[ -f /usr/lib/u-boot/platform_install.sh ]] && source /usr/lib/u-boot/platform_install.sh && write_uboot_platform $DIR ${root_partition_device}
          echo "Write u-boot to $root_partition_device with $root_uuid" "$(date  +%R:%S)"
          fi

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "apt-get -y update; apt-get -y -o Dpkg::Options::=\"--force-confold\" upgrade"

      - name: Reboot
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "shutdown -r 1"

      - name: Sleep for 4 min
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        uses: juliangruber/sleep-action@v1
        with:
          time: 4m

      - name: Ping
        if: ${{ github.repository_owner == 'Armbian' && env.PROCEED == 'true' }}
        run: |

          ping -w5 ${{ matrix.ip }}
          if [[ $? -eq 0 ]]; then
              ssh -o StrictHostKeyChecking=no root@${{ matrix.ip }} "run-parts /etc/update-motd.d/"
          else
              # power cycle
              [[ -n "${{ matrix.power-socket }}" ]] && ssh -o StrictHostKeyChecking=no root@10.0.40.6 "./restart ${{ matrix.power-socket }}"
          fi
#  Stop:
#    runs-on: igor
#    if: ${{ always() }}
#    needs: Test
#    steps:
#    - name: Stop
#      run: |
#
#        echo "Stop"
