name: JSON to readme
on:
  workflow_dispatch:
  workflow_call:

jobs:

  Stop:
    name: "Merge artifacts"
    runs-on: Linux
    steps:

      - name: Checkout Armbian OS repo
        uses: actions/checkout@v3

      - name: Read/Write data into README
        uses: eddiejaoude/github-actions-reader-writer@v0.1
        with:
          json-file-path: 'merged.json'
          github-token: ${{ secrets.ACCESS_TOKEN }}
          columns: 1
          object-field-names: '[ "started", "board_name", "board_slug", "u-boot", "kernel" , "iperf" , "sevenzip" , "armbian_monitor" ]'
          html-cell: '<td align="left"><a id="#{{ board_slug }}" href="#{{ board_slug }}">{{ board_name }}</a></td><td align="left">{{ started }}</td><td align=right>{{ kernel }}</td><td align=right>{{ iperf }}</td><td align=right>{{ sevenzip }}</td>'
